.icono_contacto{
  color:   #9458e0  ;
  transition-duration: 1s;
  transition-property: color;
}
.icono_contacto:hover{
  color: white;
}

.icono_contacto_wsp{
  color:   #9458e0  ;
  transition-duration: 1s;
  transition-property: color;
}
.icono_contacto_wsp:hover{
  color:    #2eb552   ;
}

.icono_contacto_lin{
  color:   #9458e0  ;
  transition-duration: 1s;
  transition-property: color;
}
.icono_contacto_lin:hover{
  color:     #17439b    ;
}

.barra-mobiles {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);

}

#nav-tab{
  background-color:  #3a0e56 ;
  border-radius: 16px;
}

.SubTitulos{
  color: var(--color-subtitulos);
  font-size: 0.75rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.Titulo{
  color: var(--color-titulos);
  font-size: 1.25rem;
  font-family: var(--fuente-titulos);
  font-weight: 600;
}

.TituloQuienSoy{
  color: var(--color-titulos);
  font-size: 2.25rem;
  font-family: var(--fuente-titulos);
  font-weight: 600;
}

.SubTitulosQuienSoy{
  color: var(--color-subtitulos);
  font-size: 1.4rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.ParrafoQuienSoy{
  color: var(--color-subtitulos);
  font-size: 0.9rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.proyMineblog{
  background-image: url("../img/proyectos/Min-e\ blog.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyMineblog:hover{
  transform: scale(1.05);
}

.proyTriviatopia{
  background-image: url("../img/proyectos/Triviatopia.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyTriviatopia:hover{
  transform: scale(1.05);
}

.proyMinArt{
  background-image: url("../img/proyectos/MinArt\ Studio.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyMinArt:hover{
  transform: scale(1.05);
}

.proyOyT{
  background-image: url("../img/proyectos/Grupo\ O\ y\ T.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyOyT:hover{
  transform: scale(1.05);
}

.proyTextAnalyzer{
  background-image: url("../img/proyectos/TextAnalyzer.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyTextAnalyzer:hover{
  transform: scale(1.05);
}

.proyMonitoDataverse{
  background-image: url("../img/proyectos/Monito\ Huellitas.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyMonitoDataverse:hover{
  transform: scale(1.05);
}

.proyLuchitadeP{
  background-image: url("../img/proyectos/Luchita\ de\ Polobaya.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyLuchitadeP:hover{
  transform: scale(1.05);
}

.proyHaspe{
  background-image: url("../img/proyectos/Haspe.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyHaspe:hover{
  transform: scale(1.05);
}

.proyDocFraude{
  background-image: url("../img/proyectos/Dr.\ Fraude.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyDocFraude:hover{
  transform: scale(1.05);
}

.proyRodrigoPlanas{
  background-image: url("../img/proyectos/Rodrigo\ Planas.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyRodrigoPlanas:hover{
  transform: scale(1.05);
}

.proyRadiologica{
  background-image: url("../img/proyectos/Radiologica.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyRadiologica:hover{
  transform: scale(1.05);
}

.proyMantIns{
  background-image: url("../img/proyectos/Mantenimientos\ Institucionales.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyMantIns:hover{
  transform: scale(1.05);
}

.proyRyE{
  background-image: url("../img/proyectos/R\ y\ E.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyRyE:hover{
  transform: scale(1.05);
}

.proyDominioIn{
  background-image: url("../img/proyectos/Dominio\ Inmobiliaria.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyDominioIn:hover{
  transform: scale(1.05);
}

.proyStockC{
  background-image: url("../img/proyectos/Stock\ Center.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyStockC:hover{
  transform: scale(1.05);
}

.proyRedMar{
  background-image: url("../img/proyectos/Red\ Maritima.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyRedMar:hover{
  transform: scale(1.05);
}

.proyRosaAng{
  background-image: url("../img/proyectos/Rosa\ Angelica.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyRosaAng:hover{
  transform: scale(1.05);
}

.proyTPaw{
  background-image: url("../img/proyectos/Pawoffice.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyTPaw:hover{
  transform: scale(1.05);
}

.proyPlanVirt{
  background-image: url("../img/proyectos/Planeta\ Virtual.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyPlanVirt:hover{
  transform: scale(1.05);
}

.proyMAS{
  background-image: url("../img/proyectos/Mas.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyMAS:hover{
  transform: scale(1.05);
}

.proyIJTemis{
  background-image: url("../img/proyectos/Instituto\ Juridico\ Temis.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyIJTemis:hover{
  transform: scale(1.05);
}

.proyRuidoDigital{
  background-image: url("../img/proyectos/Ruido\ Digital.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  filter: brightness(50%);
  transition-property: transform;
  transition-duration: 1s;
}

.proyRuidoDigital:hover{
  transform: scale(1.05);
}


/* Colores de fondo para botones */

.nav-link, .nav-link:focus ,.nav-link:hover{
  color: white !important;
  background-color: var(--color-fondo) !important;
}

.nav-link, .nav-link:visited{
  background-color: transparent !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited  {
  background-color: #7D0AB3 !important;
  border-color: #7D0AB3 !important;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
  border-color: #7D0AB3 !important;
}

/* Varios */

h2 {
  color: var(--color-titulos);
  font-family: var(--fuente-titulos);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: center;
}

p {
  color: var(--color-titulos);
  font-size: 1rem;
  font-family: var(--fuente-titulos);
  font-weight: 300;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Sección Sobre Mí */

#sobreMi {
  padding-top: 5rem;
}

.sobreMi-data {
  padding-left: 5rem;
}

.sobreMi-info{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.sobreMi-info-box {
  padding-inline: 1rem;
}

.img-sobreMi-estilo {
  border-radius: 10px;
}

/* Sección Habilidades */

#habilidades {
  padding-top: 5rem;
}

/* Sección Proyectos */

#proyectos {
  padding-top: 5rem;
}

/* Sección Contacto */

#contacto {
  padding-top: 5rem;
}


.contact__icon{
  color: white;
  font-size: 2rem;
  margin-right: var(--mb-0-75);
}

.contact__content{
  background-color: #7D28B3;
  border-radius: .5rem;
  backdrop-filter: blur(8px);
  padding: .75rem 1rem .25rem;
}

.contact__name{
  border: none;
  background-color: var(--input-color);
  color: var(--color-titulos);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  font-family: var(--body-font);
  outline: none;
  padding: .25rem .5rem .5rem 0;
  width: 100%;
}

.contact__email{
  border: none;
  background-color: var(--input-color);
  color: var(--color-titulos);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  font-family: var(--body-font);
  outline: none;
  padding: .25rem .5rem .5rem 0;
  width: 100%;
}

.contact__msg{
  border: none;
  background-color: var(--input-color);
  color: var(--color-titulos);
  font-family: var(--body-font);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  padding: .25rem .5rem .5rem 0;
  width: 100%;
}

.button:hover{
  cursor: pointer;
}